.InputForm {
    display: block;
    width: 20%;
    margin: auto;
    margin-top: 15%;
    background-color: #eaeaea;
    padding: 20px;
}

.NotFound {
    margin: auto;
    margin-top: 15%;
    text-align: center;
}

.BackgrounModal {
    background-color: darkgrey;
}

.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}